@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    img{
        width: 50px;
    }
    a{
        text-decoration: none;
        color: #333;
        margin: 0 50px;
        font-size: 25px;
    }
    .buttons{
        display: flex;
        gap: 20px;
    }
    .b-1 button{
        width: 120px;
        height: 40px;
        background-color: #3D6F53;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .b-2 button{
        width: 120px;
        height: 40px;
        color: #000000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid #3D6F53;
    }
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    .m-1{
        flex-direction: column;
        gap: 20px;
    }
    img{
        width: 700px;
    }
}
.name-company{
    margin-top: 30px;
}
input{
    width: 400px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}
.sign{
    width: 120px;
    height: 50px;
    background-color: #3D6F53;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 330px;
    top: 403px;
}
.con-2{
    width: 100%;
    height: 100vh;
    background-color: #3D6F53;
    position: absolute;
    filter: opacity(0.4);
    z-index: -1;
    transform: rotate(120deg);
    border-radius: 30px;
}
.main-2{
    width: 690px;
    height: 500px;
    border: #000000 solid 2px;
    border-radius: 10px;
    background-color: white;
    margin-left: 50px;
    padding: 15px;
    .img-2{
        width: 660px;
        height: 300px;
        margin-top: 10px;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg_S6kpw65JFDvkDGASlYN0Ro145wyhunEUQ&s');
        background-size: cover;
    }
    button{
        width: 120px;
        height: 40px;
        background-color: #3D6F53;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }
}
.h1-c{
    display: flex;
    gap: 10px;
    .plant{
        text-decoration: underline #3D6F53 5px;
    }
}
.cli{
    text-decoration: underline #3D6F53 5px;
}